In [1]:
import pandas as pd
import numpy as np
import pickle
import datetime

In [2]:
precios = pd.read_excel('PRECIOS PUBLICO.xlsx') #subo el listado de precios por barra y fecha

In [3]:
precios.columns = map(str.lower, precios.columns) #Lowercase a los headers de columnas
precios.drop(columns=['unnamed: 6', 'unnamed: 7','talle'],inplace=True) # Elimino columnas que no sirven
precios.dropna(inplace=True) #drop de Nan values
precios['precio'] = precios['precio'].round().astype(int)

In [4]:
precios_general = precios[precios['fecha'] > '2021-01-01']
precios_general = precios_general.sort_values(['precio', 'fecha'], ascending=[False, False])
precios_general = precios_general.groupby('producto').first()
precios_general.drop(columns='color', inplace=True)
precios_general = precios_general.reset_index()

In [5]:
precios_jeans = precios[(precios['fecha'] > '2022-01-01')] #filtro por fecha 
precios_jeans = precios_jeans.groupby(['producto','color']).apply(lambda x: x.loc[x['precio'].idxmax()]) 
#Agrupo por producto y color, buscando el precio mas alto por articulo
precios_jeans = precios_jeans.drop(columns=['producto']) #reacomodo tabla
precios_jeans = precios_jeans.reset_index(drop=True) #reacomodo la tabla

In [ ]:
# Serializar la variable precios_general y almacenarla en un archivo binario
with open("precios_general.pickle", "wb") as f:
    pickle.dump(precios_general, f)

# Serializar la variable precios_jean y almacenarla en un archivo binario
with open("precios_jeans.pickle", "wb") as f:
    pickle.dump(precios_jeans, f)

In [10]:
precios_general

       producto                     descripcion  precio      fecha
0     110000021                    BUFANDA CLOE    2718 2022-08-25
1     110000051   ACCESORIO PARA EL PELO -PRAGA     299 2022-09-05
2     110000061                      COLERO "L"     399 2022-09-27
3     110000071                      COLERO "M"     349 2022-11-29
4     110000221              FALDA BASICA DEMIN    5999 2022-10-17
...         ...                             ...     ...        ...
1093  8322A2321  CINTO REVERSIBLE C/HEBILLA GIR    2999 2022-09-13
1094  8322A2341                   CINTO CLASSIC    2799 2022-09-13
1095  8322X1241          OJOTAS CLASICAS HOMBRE     999 2022-10-04
1096  8900A6011            VELA DE CERA DE SOJA    1799 2022-10-12
1097  8900A6021                      HOME SPRAY    1499 2022-10-12

[1098 rows x 4 columns]

In [11]:
precios_general.loc[precios_general['producto'] == '2123R5711']

      producto       descripcion  precio      fecha
934  2123R5711  MUSCULOSA BASICA    3499 2022-09-11